<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYYTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B96F53911D124C9E00A7980A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96F53AA1D124C9F00A7980A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96F53B51D124C9F00A7980A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
